@import 'bootstrap';

.navbar-brand {
    font-size: 1.5rem;
}
.search-area {
    padding-top: 50px;
}

.results-block {
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;
}

.user-name {
    margin: 3.5%;
    padding-right: 5px;
}